In [39]:
import pandas as pd
import requests
import json
from datetime import datetime
from dotenv import load_dotenv
from requests import get
import sqlalchemy as db

In [2]:
db_server = 'postgresql'
user = 'postgres'
password = '1234'
ip = 'localhost'
db_name = 'NHS Project'


engine = db.create_engine(f'{db_server}://{user}:{password}@{ip}:5433/{db_name}')
conn = engine.connect()
#conn.close()

In [5]:
engine.table_names

In [55]:
diagnostic_waiting_list = pd.read_excel('diagnostic_waiting_list.xlsx')
diagnostic_waiting_list.head()

,DATE,Magnetic Resonance Imaging,Computed Tomography,Non-obstetric Ultrasound,Barium Enema,DEXA Scan,Audiology - Audiology Assessments,Cardiology - Echocardiography,Cardiology - Electrophysiology,Neurophysiology - Peripheral Neurophysiology,Respiratory physiology - Sleep Studies,Urodynamics - Pressures & Flows,Colonoscopy,Flexi Sigmoidoscopy,Cystoscopy,Gastroscopy
0,2015-01-01,254217,409032,561116,2869,32414,102151,109549,2565,17187,10098,6751,37224,20878,24796,50982
1,2015-02-01,239696,382739,524383,2869,30255,96984,101831,2584,16009,9438,5996,34656,19521,24379,52915
2,2015-03-01,263843,420047,582071,2970,34901,106396,112062,2733,16960,10797,6963,37860,21266,25782,61849
3,2015-04-01,244709,397292,551245,2817,34206,102278,107384,2493,16175,10514,6522,34027,19952,23123,56677
4,2015-05-01,248518,399640,539889,2644,30467,97782,102850,2270,15116,10725,5995,34060,19898,21784,54340

In [61]:
diagnostic_waiting_list['DATE'] = pd.to_datetime(diagnostic_waiting_list['DATE'], format='%d%b%Y:%H:%M:%S.%f')
diagnostic_waiting_list

,DATE,Magnetic Resonance Imaging,Computed Tomography,Non-obstetric Ultrasound,Barium Enema,DEXA Scan,Audiology - Audiology Assessments,Cardiology - Echocardiography,Cardiology - Electrophysiology,Neurophysiology - Peripheral Neurophysiology,Respiratory physiology - Sleep Studies,Urodynamics - Pressures & Flows,Colonoscopy,Flexi Sigmoidoscopy,Cystoscopy,Gastroscopy
0,2015-01-01,254217,409032,561116,2869,32414,102151,109549,2565,17187,10098,6751,37224,20878,24796,50982
1,2015-02-01,239696,382739,524383,2869,30255,96984,101831,2584,16009,9438,5996,34656,19521,24379,52915
2,2015-03-01,263843,420047,582071,2970,34901,106396,112062,2733,16960,10797,6963,37860,21266,25782,61849
3,2015-04-01,244709,397292,551245,2817,34206,102278,107384,2493,16175,10514,6522,34027,19952,23123,56677
4,2015-05-01,248518,399640,539889,2644,30467,97782,102850,2270,15116,10725,5995,34060,19898,21784,54340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2021-03-01,302986,579815,621740,2786,32187,73930,132052,933,16434,8880,4883,50821,18601,27793,59712
75,2021-04-01,283091,561753,589557,2716,33636,72899,126886,740,16297,9447,5618,46226,17143,25957,55548
76,2021-05-01,295746,579968,590341,3105,33477,74755,127231,752,16995,9176,5664,49780,17769,26387,58421
77,2021-06-01,304768,588795,626444,3424,38111,83205,136512,732,19716,10401,5890,50324,17894,28922,58743
78,2021-07-01,302378,590297,594390,3803,37511,80271,131004,629,18554,9461,5484,47810,16977,28038,57323

In [123]:
diagnostic_waiting_list['Year'] = diagnostic_waiting_list['DATE'].dt.year

In [125]:
diagnostic_waiting_list.rename(columns={'DATE':'Daily', 'Year':'DATE'})

,Daily,Magnetic Resonance Imaging,Computed Tomography,Non-obstetric Ultrasound,Barium Enema,DEXA Scan,Audiology - Audiology Assessments,Cardiology - Echocardiography,Cardiology - Electrophysiology,Neurophysiology - Peripheral Neurophysiology,Respiratory physiology - Sleep Studies,Urodynamics - Pressures & Flows,Colonoscopy,Flexi Sigmoidoscopy,Cystoscopy,Gastroscopy,DATE
0,2015-01-01,254217,409032,561116,2869,32414,102151,109549,2565,17187,10098,6751,37224,20878,24796,50982,2015
1,2015-02-01,239696,382739,524383,2869,30255,96984,101831,2584,16009,9438,5996,34656,19521,24379,52915,2015
2,2015-03-01,263843,420047,582071,2970,34901,106396,112062,2733,16960,10797,6963,37860,21266,25782,61849,2015
3,2015-04-01,244709,397292,551245,2817,34206,102278,107384,2493,16175,10514,6522,34027,19952,23123,56677,2015
4,2015-05-01,248518,399640,539889,2644,30467,97782,102850,2270,15116,10725,5995,34060,19898,21784,54340,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2021-03-01,302986,579815,621740,2786,32187,73930,132052,933,16434,8880,4883,50821,18601,27793,59712,2021
75,2021-04-01,283091,561753,589557,2716,33636,72899,126886,740,16297,9447,5618,46226,17143,25957,55548,2021
76,2021-05-01,295746,579968,590341,3105,33477,74755,127231,752,16995,9176,5664,49780,17769,26387,58421,2021
77,2021-06-01,304768,588795,626444,3424,38111,83205,136512,732,19716,10401,5890,50324,17894,28922,58743,2021
78,2021-07-01,302378,590297,594390,3803,37511,80271,131004,629,18554,9461,5484,47810,16977,28038,57323,2021

In [62]:
diagnostic_waiting_list_6weeks = pd.read_excel('diagnostic_waiting_list_6weeks.xlsx')
diagnostic_waiting_list_6weeks.head()

,DATE,Magnetic Resonance Imaging,Computed Tomography,Non-obstetric Ultrasound,Barium Enema,DEXA Scan,Audiology - Audiology Assessments,Cardiology - Echocardiography,Cardiology - Electrophysiology,Neurophysiology - Peripheral Neurophysiology,Respiratory physiology - Sleep Studies,Urodynamics - Pressures & Flows,Colonoscopy,Flexi Sigmoidoscopy,Cystoscopy,Gastroscopy,Total (%)
0,2015-01-01,1.859218,1.109752,1.133189,0.510204,1.299814,2.573529,4.312269,0.792079,3.179691,5.062425,9.255979,6.626314,6.173340,7.087061,6.262376,2.445154
1,2015-02-01,1.087416,0.492165,0.354934,0.136333,0.351361,1.126664,2.966296,0.457816,1.179201,3.809685,6.541044,4.998002,5.619844,6.396115,4.705553,1.510183
2,2015-03-01,0.847658,0.582011,0.328001,0.346741,0.523815,1.447127,2.680831,0.188679,0.770454,3.551867,6.933638,5.734147,6.801471,6.548750,5.643215,1.539068
3,2015-04-01,0.954877,0.614657,0.580978,1.435705,0.658756,1.992644,2.745803,0.067114,1.166341,3.369906,7.443062,7.751789,9.022597,6.937182,7.871875,1.990687
4,2015-05-01,1.042672,0.513116,0.494533,0.616861,0.418080,1.545605,2.322430,0.129282,1.372213,2.197638,7.236554,7.046426,8.629002,6.346254,7.696284,1.812630

In [63]:
diagnostic_waiting_list_6weeks['DATE'] = pd.to_datetime(diagnostic_waiting_list_6weeks['DATE'], format='%d%b%Y:%H:%M:%S.%f')
diagnostic_waiting_list_6weeks

,DATE,Magnetic Resonance Imaging,Computed Tomography,Non-obstetric Ultrasound,Barium Enema,DEXA Scan,Audiology - Audiology Assessments,Cardiology - Echocardiography,Cardiology - Electrophysiology,Neurophysiology - Peripheral Neurophysiology,Respiratory physiology - Sleep Studies,Urodynamics - Pressures & Flows,Colonoscopy,Flexi Sigmoidoscopy,Cystoscopy,Gastroscopy,Total (%)
0,2015-01-01,1.859218,1.109752,1.133189,0.510204,1.299814,2.573529,4.312269,0.792079,3.179691,5.062425,9.255979,6.626314,6.173340,7.087061,6.262376,2.445154
1,2015-02-01,1.087416,0.492165,0.354934,0.136333,0.351361,1.126664,2.966296,0.457816,1.179201,3.809685,6.541044,4.998002,5.619844,6.396115,4.705553,1.510183
2,2015-03-01,0.847658,0.582011,0.328001,0.346741,0.523815,1.447127,2.680831,0.188679,0.770454,3.551867,6.933638,5.734147,6.801471,6.548750,5.643215,1.539068
3,2015-04-01,0.954877,0.614657,0.580978,1.435705,0.658756,1.992644,2.745803,0.067114,1.166341,3.369906,7.443062,7.751789,9.022597,6.937182,7.871875,1.990687
4,2015-05-01,1.042672,0.513116,0.494533,0.616861,0.418080,1.545605,2.322430,0.129282,1.372213,2.197638,7.236554,7.046426,8.629002,6.346254,7.696284,1.812630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2021-03-01,16.983113,15.977761,15.391294,9.915199,36.212661,23.659191,37.249655,8.531746,36.101689,24.409902,54.843499,45.148263,47.412354,41.906529,46.781331,24.290907
75,2021-04-01,17.591549,15.813534,16.027350,9.611111,32.758513,23.191188,37.146715,10.692771,34.948926,20.818566,52.567795,42.989130,44.716721,40.641542,44.210001,24.028153
76,2021-05-01,16.852148,14.656853,14.945639,7.342060,29.622381,20.514821,34.670564,7.486631,31.764590,16.586069,48.044693,41.077441,42.049122,38.148115,41.382808,22.300496
77,2021-06-01,18.309517,15.179003,14.958493,6.723827,28.890153,19.740734,35.782400,9.090909,32.647291,18.205832,48.284658,40.172395,40.386430,35.805789,40.162532,22.381784
78,2021-07-01,21.024466,16.075267,15.848903,10.567413,28.995316,20.117364,37.806566,6.197655,32.203044,23.838440,48.043779,39.951327,39.466734,35.115515,39.591813,23.508378

In [89]:
elective_operation_cancelled = pd.read_excel('elective_operation_cancelled.xlsx')
elective_operation_cancelled.head()

,Year,Quarter,Number of cancelled elective operations,Patients not treated within 28 days of cancellation.,Elective admissions
0,2015,1,15650,802,1966435
1,2015,2,15898,691,1894377
2,2015,3,19470,1233,1904502
3,2015,4,20464,1787,1927719
4,2016,1,16099,1157,1915905

In [95]:
elective_operation_cancelled.rename({'Year' : 'DATE'}, axis=1, inplace =True)

In [116]:
grouped_operations = elective_operation_cancelled.groupby(by='DATE').sum().reset_index()
grouped_operations = grouped_operations.drop('Quarter',axis=1)
grouped_operations

,DATE,Number of cancelled elective operations,Patients not treated within 28 days of cancellation.,Elective admissions
0,2015,71482,4513,7693033
1,2016,74258,5078,7776859
2,2017,80642,6016,7937469
3,2018,84825,7183,7815261
4,2019,79470,7345,7898793
5,2020,86787,7400,8417086
6,2021,314878,100938,4143027

In [81]:
urgent_operation_cancelled = pd.read_excel('urgent_operation_cancelled.xlsx')
urgent_operation_cancelled.head()

,Year,Period,Urgent Operations Cancelled,Urgent Operations Cancelled for the 2nd or more time
0,2017,April,255,25
1,2017,May,300,12
2,2017,June,303,9
3,2017,July,321,7
4,2017,August,323,16

In [122]:
grouped_urgent = urgent_operation_cancelled.groupby('DATE').sum().reset_index()
grouped_urgent

,DATE,Urgent Operations Cancelled,Urgent Operations Cancelled for the 2nd or more time
0,2017,3840,154
1,2018,3926,151
2,2019,4308,207
3,2020,9066,1084

In [92]:
urgent_operation_cancelled.rename({'Year' : 'DATE'}, axis=1, inplace = True)

In [35]:
total_cancer_cases = pd.read_excel('total_cancer_cases.xlsx')
total_cancer_cases

   Year  New cases
0  2016     329489
1  2017     364943
2  2018     378039
3  2019     359038
4  2020     163947
5  2021     149297

In [97]:
total_cancer_cases.rename({'Year' : 'DATE'}, axis=1, inplace = True)
total_cancer_cases

   DATE  New cases
0  2016     329489
1  2017     364943
2  2018     378039
3  2019     359038
4  2020     163947
5  2021     149297

In [176]:
covid_cases = pd.read_csv('covid_cases.csv')
covid_cases.head()

         date  newCasesBySpecimenDate  cumCasesBySpecimenDate
0  08/09/2021                    7180                 7132072
1  07/09/2021                   30792                 7124892
2  06/09/2021                   42119                 7094100
3  05/09/2021                   30828                 7051981
4  04/09/2021                   30989                 7021153

In [179]:
covid_cases.rename({'date' : 'DATE'}, axis=1, inplace = True)
covid_cases

           DATE  newCasesBySpecimenDate  cumCasesBySpecimenDate
0    08/09/2021                    7180                 7132072
1    07/09/2021                   30792                 7124892
2    06/09/2021                   42119                 7094100
3    05/09/2021                   30828                 7051981
4    04/09/2021                   30989                 7021153
..          ...                     ...                     ...
583  03/02/2020                       0                       2
584  02/02/2020                       0                       2
585  01/02/2020                       0                       2
586  31/01/2020                       0                       2
587  30/01/2020                       2                       2

[588 rows x 3 columns]

In [184]:
covid_cases

            newCasesBySpecimenDate  cumCasesBySpecimenDate
DATE
2021-09-08                    7180                 7132072
2021-09-07                   30792                 7124892
2021-09-06                   42119                 7094100
2021-09-05                   30828                 7051981
2021-09-04                   30989                 7021153
...                            ...                     ...
2020-02-03                       0                       2
2020-02-02                       0                       2
2020-02-01                       0                       2
2020-01-31                       0                       2
2020-01-30                       2                       2

[588 rows x 2 columns]

In [180]:
covid_cases['DATE'] = pd.to_datetime(covid_cases['DATE'], format='%d/%m/%Y')

In [83]:
covid_deaths = pd.read_csv('covid_deaths.csv')
covid_deaths.head()

         date  newDeaths28DaysByDeathDate  cumDeaths28DaysByDeathDate
0  08/09/2021                          35                      133839
1  07/09/2021                          88                      133804
2  06/09/2021                         109                      133716
3  05/09/2021                         131                      133607
4  04/09/2021                         105                      133476

In [99]:
covid_deaths.rename({'date' : 'DATE'}, axis=1, inplace = True)
covid_deaths

           DATE  newDeaths28DaysByDeathDate  cumDeaths28DaysByDeathDate
0    08/09/2021                          35                      133839
1    07/09/2021                          88                      133804
2    06/09/2021                         109                      133716
3    05/09/2021                         131                      133607
4    04/09/2021                         105                      133476
..          ...                         ...                         ...
551  06/03/2020                           0                           6
552  05/03/2020                           3                           6
553  04/03/2020                           0                           3
554  03/03/2020                           2                           3
555  02/03/2020                           1                           1

[556 rows x 3 columns]

In [181]:
covid_cases = covid_cases.set_index('DATE')

In [1]:
covid_cases = covid_cases.groupby(pd.Grouper(freq='M')).agg({'newCasesBySpecimenDate' : sum, 'cumCasesBySpecimenDate' : max}).reset_index()

NameError: name 'covid_cases' is not defined

In [196]:

covid_cases['DATE'] = covid_cases['DATE'].apply(lambda x: x.strftime('%Y-%m-01'))

AttributeError: 'str' object has no attribute 'strftime'

In [200]:
covid_cases['DATE'] = pd.to_datetime(covid_cases['DATE'], format='%Y/%m/%d')

In [201]:
covid_cases

         DATE  newCasesBySpecimenDate  cumCasesBySpecimenDate
0  2020-01-01                       2                       2
1  2020-02-01                      45                      48
2  2020-03-01                   38345                   38393
3  2020-04-01                  138315                  176708
4  2020-05-01                   79298                  256006
5  2020-06-01                   28297                  284303
6  2020-07-01                   20711                  305014
7  2020-08-01                   33979                  338993
8  2020-09-01                  149776                  488769
9  2020-10-01                  573303                 1062072
10 2020-11-01                  599874                 1661946
11 2020-12-01                  992714                 2654660
12 2021-01-01                 1194101                 3848761
13 2021-02-01                  332886                 4181647
14 2021-03-01                  162569                 4344216
15 2021-04-01                   71685                 4415901
16 2021-05-01                   76063                 4491964
17 2021-06-01                  359853                 4851817
18 2021-07-01                 1048067                 5899884
19 2021-08-01                  968101                 6867985
20 2021-09-01                  264087                 7132072

In [143]:
waiting_list_total = diagnostic_waiting_list.merge(diagnostic_waiting_list_6weeks, left_on = 'DATE', right_on = 'DATE', suffixes=('Waiting List', 'Waiting List - 6 weeks'))

In [145]:
waiting_list_total

,DATE,Magnetic Resonance ImagingWaiting List,Computed TomographyWaiting List,Non-obstetric UltrasoundWaiting List,Barium EnemaWaiting List,DEXA ScanWaiting List,Audiology - Audiology AssessmentsWaiting List,Cardiology - EchocardiographyWaiting List,Cardiology - ElectrophysiologyWaiting List,Neurophysiology - Peripheral NeurophysiologyWaiting List,...,Cardiology - EchocardiographyWaiting List - 6 weeks,Cardiology - ElectrophysiologyWaiting List - 6 weeks,Neurophysiology - Peripheral NeurophysiologyWaiting List - 6 weeks,Respiratory physiology - Sleep StudiesWaiting List - 6 weeks,Urodynamics - Pressures & FlowsWaiting List - 6 weeks,ColonoscopyWaiting List - 6 weeks,Flexi SigmoidoscopyWaiting List - 6 weeks,CystoscopyWaiting List - 6 weeks,GastroscopyWaiting List - 6 weeks,Total (%)
0,2015-01-01,254217,409032,561116,2869,32414,102151,109549,2565,17187,...,4.312269,0.792079,3.179691,5.062425,9.255979,6.626314,6.173340,7.087061,6.262376,2.445154
1,2015-02-01,239696,382739,524383,2869,30255,96984,101831,2584,16009,...,2.966296,0.457816,1.179201,3.809685,6.541044,4.998002,5.619844,6.396115,4.705553,1.510183
2,2015-03-01,263843,420047,582071,2970,34901,106396,112062,2733,16960,...,2.680831,0.188679,0.770454,3.551867,6.933638,5.734147,6.801471,6.548750,5.643215,1.539068
3,2015-04-01,244709,397292,551245,2817,34206,102278,107384,2493,16175,...,2.745803,0.067114,1.166341,3.369906,7.443062,7.751789,9.022597,6.937182,7.871875,1.990687
4,2015-05-01,248518,399640,539889,2644,30467,97782,102850,2270,15116,...,2.322430,0.129282,1.372213,2.197638,7.236554,7.046426,8.629002,6.346254,7.696284,1.812630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2021-03-01,302986,579815,621740,2786,32187,73930,132052,933,16434,...,37.249655,8.531746,36.101689,24.409902,54.843499,45.148263,47.412354,41.906529,46.781331,24.290907
75,2021-04-01,283091,561753,589557,2716,33636,72899,126886,740,16297,...,37.146715,10.692771,34.948926,20.818566,52.567795,42.989130,44.716721,40.641542,44.210001,24.028153
76,2021-05-01,295746,579968,590341,3105,33477,74755,127231,752,16995,...,34.670564,7.486631,31.764590,16.586069,48.044693,41.077441,42.049122,38.148115,41.382808,22.300496
77,2021-06-01,304768,588795,626444,3424,38111,83205,136512,732,19716,...,35.782400,9.090909,32.647291,18.205832,48.284658,40.172395,40.386430,35.805789,40.162532,22.381784
78,2021-07-01,302378,590297,594390,3803,37511,80271,131004,629,18554,...,37.806566,6.197655,32.203044,23.838440,48.043779,39.951327,39.466734,35.115515,39.591813,23.508378

In [148]:
operations_total = grouped_operations.merge(grouped_urgent, left_on = 'DATE', right_on = 'DATE')
operations_total

,DATE,Number of cancelled elective operations,Patients not treated within 28 days of cancellation.,Elective admissions,Urgent Operations Cancelled,Urgent Operations Cancelled for the 2nd or more time
0,2017,80642,6016,7937469,3840,154
1,2018,84825,7183,7815261,3926,151
2,2019,79470,7345,7898793,4308,207
3,2020,86787,7400,8417086,9066,1084

In [150]:
operations_and_cancercases = operations_total.merge(total_cancer_cases,left_on = 'DATE', right_on = 'DATE')